@using WebMarket.Models.ViewModel
@model WebMarket.Models.ViewModel.ShoppingCartVM
@{
    ViewData["Title"] = "جزییات محصول";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<div class="card shadow-lg">
    <div class="row">
        <aside class="col-4 col-sm-12 col-md-12 border-right">
            <article class="gallery-wrap">
                <div class="img-big-wrap">
                    <div class="text-center mt-4 ">
                        <a href="#">
                            <img class="img-thumbnail card-img p-1 m-4 shadow" src="~/Image/Product/@Model.Product.ImgeUrl" alt="@Model.Product.ImageAlt" title="@Model.Product.ImageTitle" >
                        </a>
                    </div>
                </div> 
            </article> 
        </aside>
        <aside class="col-8">
            <article class="card-body p-5">
                <div class="text-center">
                    <h2 class="title mb-3">@Model.Product.Title</h2>
                </div>
                <hr />
                <p class="price-detail-wrap text-left">
                    <span class="price h5 text-danger">
                        <span class="currency">با قیمت استثنایی</span>&nbsp;<span class="num">@Model.Product.Price.ToString("#,000")</span>&nbsp;<span class="currency">تومان</span>
                    </span>
                </p>
                <dl class="item-property">
                    <dt>توضیحات</dt>
                    <dd>
                        <p>
                            @Model.Product.Description
                        </p>
                    </dd>
                </dl>
                <div class="text-warning">
                                    <dl class="param param-feature">
                    <dt>شماره شابک: <b class="text-bold text-dark">@Model.Product.ISBN</b></dt>
                </dl>
                <dl class="param param-feature">
                    <dt>نام نویسنده: <b class="text-bold text-dark">@Model.Product.Author</b></dt>
                </dl>
                <dl class="param param-feature">
                    <dt>آخرین بروزرسانی: <b class="text-bold text-dark">@Model.Product.CreateDate.ToShortDateString()</b></dt>
                </dl>  
                </div>
            
                <hr>
                <div class="row col-12">
                    <div class="col-sm-12 col-lg-6 col-xxl-6 pt-2 mb-3">
                        <label class="text-info" asp-for="Count"></label>
                        <input class="text-end" type="number" asp-for="Count"/>
                    </div>
                    <div class="col-sm-12 col-lg-6 col-xxl-6 text-end">
                        <a href="#" class="btn btn-lg btn-primary text-uppercase"> خرید کتاب </a>
                    </div>
                </div>
               
            </article>
        </aside> 
    </div> 
</div>


