

@model WebMarket.Models.ViewModel.ShoppingCartVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}


<form method="post">
	<br />
	<div class="container mt-0">
		<div class="card m-0">
			<div class="card-header bg-dark text-light ml-0">
				<div class="row">
					<div class="col-6  pt-2">
						<i class="fa fa-shopping-cart"></i> &nbsp;
						سبد خرید
					</div>
					<div class="col-6 text-end">
						<a href="" class="btn btn-outline-info btn-sm">ادامه خرید</a>
					</div>
				</div>
			</div>

			<div class="card-body">
				@foreach(var item in Model.ListCarts){
				<div class="row">
					<div class="d-none d-lg-block col-lg-1 text-center py-2">
						<img src="~/Image/Product/@item.Product.ImgeUrl" class="rounded" width="100%" />
					</div>
					<div class="col-12 col-lg-6 pt-md-3">
						<h5><strong>@item.Product.Title</strong></h5>
						<p><small>@Html.Raw(item.Product.Description)</small></p>
					</div>
					<div class="col-12  col-lg-5 text-center row">
						<div class="col-4 text-md-right pt-4">
							قیمت: <h6><strong>@item.Product.Price.ToString()
                                <hr	/>
                                تعداد:
                               
                                <span class="text-muted"></span>@item.Count </strong></h6>
						</div>
						@*<div class="col-6 col-sm-4 col-lg-6 pt-2">
							<div class="w-75 btn-group" role="group">
								<a asp-action="" asp-route-cartId="@item.Id" class="btn btn-primary">
									<i class="fas fa-plus-square "></i>
								</a> &nbsp;
								<a asp-action="" asp-route-cartId="@item.Id" class="btn btn-warning">
									<i class="fas fa-edit "></i>
								</a>
							</div>

						</div>*@
						<div class="col-2 col-sm-4 col-lg-2 text-right pt-2">
							<a asp-action="" asp-route-cartId="@item.Id" class="btn btn-danger">
								<i class="fas fa-trash"></i>
							</a>
						</div>
					</div>
				</div>
				<hr />
				}
		

			</div>

			<div class="card-footer">
				<div class="card-footer row">
                    <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6  p-3">
                        <div class=" text-center">
                            <label class="text-info">جمع فاکتور : </label>
                            <span class="text-success text-center">@Model.TotalPrice</span>
                            <hr/>
                        </div>
                      
                        <div class="row mt-2">
                            <button class="btn btn-success form-control">پرداخت آنلاین </button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</form>